<div class="ngx-slider-bar-container">
    <span customRangeElement #fullBar class="ngx-slider-span ngx-slider-bar-wrapper ngx-slider-full-bar">
        <span class="ngx-slider-span ngx-slider-bar"></span>
    </span>

    <span customRangeElement #selectionBar class="ngx-slider-span ngx-slider-bar-wrapper ngx-slider-selection-bar">
        <span class="ngx-slider-span ngx-slider-bar ngx-slider-selection"></span>
    </span>

    <span customRangeHandle #minHandle class="ngx-slider-span ngx-slider-pointer ngx-slider-pointer-min"></span>
    <!-- // 5 High slider handle -->
    <span customRangeHandle #maxHandle [style.display]="'inherit'"
        class="ngx-slider-span ngx-slider-pointer ngx-slider-pointer-max"></span>

    <!-- // 8 Label above the low slider handle -->
    <span customRangeLabel #minHandleLabel class="ngx-slider-model ngx-slider-model-value"
        (click)="onClickInferiorLabel()" [hidden]="valorEditable"></span>
    <!-- // 9 Label above the high slider handle -->
    <span customRangeLabel #maxHandleLabel class="ngx-slider-model ngx-slider-model-high"
        (click)="onClickSuperiorLabel()" [hidden]="valorSuperiorEditable"></span>
</div>
<div *ngIf="type === 'normal'">
    <input type="number" customRangeElement id="valorElement" #valorElement [(ngModel)]="valor"
        [hidden]="!valorEditable"
        class="ngx-slider-model ngx-slider-model-value ngx-slider-model-label ngx-slider-model-value-label">
    <input type="number" customRangeElement id="valorSuperiorElement" #valorSuperiorElement [(ngModel)]="valorSuperior"
        [hidden]="!valorSuperiorEditable"
        class="ngx-slider-model ngx-slider-model-high ngx-slider-model-label ngx-slider-model-high-label">
</div>