<div class="card">
  <div class="card-header">
    {{titulo}}
  </div>

  <div class="card-body">
    <div class="container">
      <input type="number" #valorElement class="form-control" (keyup.enter)="setValue(valorElement.value, tipoPuntoMin)"
        (blur)="setValue(valorElement.value, tipoPuntoMin)" [value]="getValue(slideValores, tipoPuntoMin)">
      <ngc-range *ngIf="data" [min]="data.min" [max]="data.max" [(ngModel)]="slideValores">
      </ngc-range>
      <input type="number" #valorSuperiorElement class="form-control"
        (keyup.enter)="setValue(valorSuperiorElement.value, tipoPuntoMax)"
        (blur)="setValue(valorSuperiorElement.value, tipoPuntoMax)"
        (valorSuperiorChange)="onValorSuperiorCambio($event)" [value]="getValue(slideValores, tipoPuntoMax)">
      <p>
        {{slideValores | json}}
      </p>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>