@mixin ng-deep($enableNgDeep: true) {
  @if $enableNgDeep {
    ::ng-deep {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

$enableNgDeep: true !default;

$handleActiveColor: black !default;
$handleHoverColor: black !default;
$handleBgColor: black !default;
$handleInnerColor: black !default;
$labelTextColor: black !default;
$limitLabelTextColor: $labelTextColor !default;
$barFillColor: $handleBgColor !default;
$barNormalColor: #d8e0f3 !default;

$handleSize: 15px !default;
$handlePointerSize: 3px !default;
$bubblePaddingVertical: 1px !default;
$bubblePaddingHorizontal: 3px !default;
$labelFontSize: 14px !default;
$barDimension: 4px !default;

$withLegendMargin: 40px !default;

$sliderMargin: 15px !default;
$sliderMarginWithLabel: 35px !default;
$sliderVerticalMargin: 20px !default;
